<div class="container">
  <h2>Movies</h2>
  <div class="row">
    <div class="col-md-3">
      <input type="text" [(ngModel)]="langFilter.language" placeholder="Type to filter by language">
    </div>
    <div class="col-md-3">
      <input type="text" [(ngModel)]="langFilter.year" placeholder="Type to filter by year">
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-3" *ngFor="let movie of movies  | filterBy: langFilter | filterBy: yearFilter">
      <div class="thumbnail">
        <img src="{{movie.poster}}" class="img-thumbnail img-rounded img-responsive" alt="" style="max-width: 400px;max-height: 250px !important;">
        <div class="caption" align="center">
          <h4>{{movie.title|titlecase|slice:0:20}}
            <span *ngIf="movie.title.length>20">
              <small>...</small>
            </span>
          </h4>
          <p class="text-muted text-small">
            <span class="language">{{movie.language|slice:0:30}}</span>
            <span *ngIf="movie.language.length>30">
              <small>...</small>
            </span>
            <span class="ghost"> | </span>
            <span class="year">{{movie.year}}</span>
          </p>
          <p class="text-muted text-small">
            <span class="genre">{{movie.genre}}</span>
          </p>
          <p>
            <span>
              <button (click)="viewMovieDetails(movie._id)" class="btn btn-info btn-md" role="button">Details</button>
            </span>
            <span style="margin-left: 10px;">
              <button class="btn btn-default btn-md" (click)="getMovieId(movie._id)" [popover]="popTemplate" popoverTitle="{{movie.title}}"
                [outsideClick]="true" container="body">Compare</button>
            </span>
          </p>
          <p>
            <span style="margin-left: 10px;">
              <button (click)="goToUrl()" class="btn btn-success btn-lg" role="button">Book a Ticket</button>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="(languages | filterBy: langFilter).length === 0 || (years | filterBy: yearFilter).length === 0">
      No matchig records found
    </div>
    <ng-template #popTemplate>
      <p class="text-muted text-small">
        <strong>Actors:</strong> {{compare.actors}}</p>
      <p class="text-muted text-small">
        <strong>Director:</strong> {{compare.director}}</p>
      <p class="text-muted text-small" *ngFor="let rating of compare.ratings">
        <strong>{{rating.source}}:</strong> {{rating.value}}
      </p>
    </ng-template>
  </div>
</div>